# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual env
.venv/
env/

# Jupyter
.ipynb_checkpoints

# DVC
.dvc/cache/
.dvc/tmp/
data/
data_storage/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
"MachineLearningRating_v3/MachineLearningRating_v3.txt" 
"MachineLearningRating_v3/MachineLearningRating_v3.txt" 
